.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* Заголовки */
h1 {
    font-size: 2.5rem; /* Размер заголовка */
    color: #333; /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу */
}

h2 {
    font-size: 30px; /* Размер подзаголовка */
    color: black; /* Цвет текста подзаголовка */
    margin-bottom: 15px; /* Отступ снизу */
    margin-top: 30px;

}

h3 {
    font-size: 1.25rem; /* Размер заголовка секции */
    color: #444; /* Цвет текста заголовка секции */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для ввода */
input[type="text"],
input[type="number"] {
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступ снизу */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    width: 600px; /* Ширина поля ввода */
}

/* Кнопки */
button {
    padding: 10px 15px; /* Внутренние отступы кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стили для списка кандидатов */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
}

li {
    padding: 10px; /* Внутренние отступы для элементов списка */
    background-color: #e9ecef; /* Цвет фона для элементов списка */
    border-radius: 5px; /* Закругленные углы для элементов списка */
    margin-bottom: 10px; /* Отступ снизу для элементов списка */
}